<div id="eventModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"></h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-xs-3 date-box">
						<div class="date"></div>
						<div class="month"></div>
						<div class="day"></div>
					</div>
					<div class="col-xs-9 info">
						<div class="venue"></div>
						<div class="address"></div>
						<div class="findUs"></div>
						<div class="description"></div>
						<div id=daysLeft class="stats"></div>
						<div id=rsvp class="stats"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
