<div class="footer">
	<div class="container">
		<img src="/images/ng_logo_footer.png" id="nav-footer">
		<div class="copyright">Copyright © <script>document.write(new Date().getFullYear());</script> Node Greenville. All rights reserved.</div>
		<div class="links">
			<a href="https://twitter.com/nodegreenville"><i class="fa fa-twitter-square footer-icon"></i></a>
			<a href="https://github.com/nodegreenville"><i class="fa fa-github-square footer-icon"></i></a>
			<a href="http://www.meetup.com/NodeGreenville/"><div class="img-icon"><img src="/images/meetup.png" class="icon"/></div></a>
		</div>
	</div>
</div>