<!-- TODO ensure that fonts and colors match with site -->

<div id="loginModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"></h4>
				</div>

				<div id='div-forms'>
					<form id="login-form" action='/auth/github' method='get'>
						<div class="modal-body">

							<div class="row">
								<div class="col-xs-8 col-centered">
									<div id="login-msg">
										<i class="fa fa-github fa-5x"></i>&nbsp;
										<span id="Login message">GitHub Login</span>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="row">
					<div class="col-xs-8 col-centered">
						<div class="login-fields col-centered">
							<button form='login-form' type="submit" class="btn btn-primary btn-larg">Login</button>
							<div class="checkbox">
								<label>
									<input type="checkbox">Remember me
								</label>
							</div>
						</div>
						<div>
							<button id="login_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
							<button id="login_register_btn" type="button" class="btn btn-link">Register</button>
						</div>
				 </div>
			</div>

		</div>
	</div>
</div>
