{{!< ./layout/default}}
<div id='calendar'></div>

<div id="eventModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>

            {{> event}}

        </div>
    </div>
</div>

{{#contentFor "singleViewStyles"}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.min.css">
{{/contentFor}}

{{#contentFor "singleViewScripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.min.js"></script>
<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
        header: {
            left: '',
            center: 'prev title next',
            right: ''
        },
        events: [{{#each events}}
		          {{> calEvents}}
	            {{/each}}],
        eventColor: '#7FBD41',
        eventRender: function (event, element) {
            element.find('.fc-time').html(moment(event.start).format('h:mm a') +
                " - " + moment(event.end).format('h:mm a') + '</br>');
            element.find('.fc-title').html(event.title.replace('-', '</br>'));
        },
        eventClick:  function(event, jsEvent, view) {
            $('.modal-title').html(event.title +
                " " + moment(event.start).format('h:mm a') +
                " - " + moment(event.end).format('h:mm a'));
            $('.modal-body .date-box .date').html(moment(event.start).format('DD'));
            $('.modal-body .date-box .month').html(moment(event.start).format('MMM'));
            $('.modal-body .date-box .day').html(moment(event.start).format('ddd'));
            $('.modal-body .info .venue').html(event.venue);
            $('.modal-body .info .address').html(event.address);
            $('.modal-body .info .description').html(event.description);
            $('.modal-body .info #daysLeft').html(moment(event.start).diff(moment(), 'days') + " days left");
            $('.modal-body .info #rsvp').html(event.rsvp + " going");
            $('#eventModal').modal();
        }
    })
});
</script>
{{/contentFor}}
