{{#contentFor "pageRoute"}}
Home
{{/contentFor}}
<div class="hero">
	<h1><span class="font-brand">NodeGreenville</span> is an open group of Upstate developers who gather to share knowledge, projects, and information while expanding the local community of node.js enthusiasts. Beginners and experts are equally welcome.</h1>
</div>
<div class="meetup">
	<h2><a href="http://www.meetup.com/NodeGreenville/">Sign up at Meetup.com/NodeGreenville</a></h2>
</div>
