{{!< default}}
<div class="hero">
	<h1><span class="font-brand">NodeGreenville</span> is a group of maecenas faucibus mollis interdum. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta.</h1>
</div>
<div class="meetup">
	<h2><a href="http://www.meetup.com/NodeGreenville/">Sign up at Meetup.com/NodeGreenville</a></h2>
</div>
