/* 
Colors 
Brand: #7FBD41
Highlight: #436B32

Toggle Hover: #588244

Font Color Dark: #545555

Item Background: #F8F9F9
Item Border: #E8E8E7
*/

body {
	padding-top: 50px;
	font-family: 'Lato', sans-serif;
	color: #545555;
}

/* Navbar */

.navbar {
	margin: 0;
}

.navbar-inverse {
	background-color: #7FBD41;
	border: none;
}

.navbar-inverse .navbar-brand {
	height: 50px;
	padding: 10px 10px;
	line-height: 30px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #7FBD41;
}

.navbar-inverse .navbar-toggle {
	border-color: #436B32;
	background-color: #436B32;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #588244;
	border-color: #588244;
}

.navbar-inverse .navbar-nav > li > a {
	color: #436B32;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #fff;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #fff;
}

#nav-logo {
	max-height: 30px;
}

/* Events */

.event {
	margin-top: 10px;
	height: 100px;
	background-color: #F8F9F9;
	border-bottom: 3px solid #E8E8E7;
}

.event .date-box {
	height: 100px;
	background-color: #7FBD41;
}

.event .info {
	padding-top: 15px;
}