/*
Colors
Brand: #7FBD41
Highlight: #436B32

Toggle Hover: #588244

Font Color Dark: #545555
Font Color Light: #AEAFAF

Item Background: #F8F9F9
Item Border: #E8E8E7
*/

body {
	padding-top: 50px;
	font-family: 'Lato', sans-serif;
	color: #545555;
}

.font-brand {
	color: #7FBD41;
}

/* Navbar */

.navbar {
	margin: 0;
}

.navbar-inverse {
	background-color: #7FBD41;
	border: none;
}

.navbar-inverse .navbar-brand {
	height: 50px;
	padding: 10px 10px;
	line-height: 30px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #7FBD41;
}

.navbar-inverse .navbar-toggle {
	border-color: #436B32;
	background-color: #436B32;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #588244;
	border-color: #588244;
}

.navbar-inverse .navbar-nav > li > a {
	color: #436B32;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #fff;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: #fff;
	background-color: #fff;
}

#nav-logo {
	max-height: 30px;
}

/* Hero */

.hero {
	padding: 100px;
}

.hero h1 {
	font-size: 40px;
	color: #AEAFAF;
}

/* Meetup Section */

.meetup {
	padding: 150px;
	background: url('/images/ng_pattern.jpg');
}

.meetup h2 {
	color: #7FBD41;
	font-size: 35px;
	font-weight: 700;
	text-align: center;
}

.meetup a {
	color: #7FBD41;
	text-decoration: none;
}

.meetup a:hover {
	color: #588244;
}

/* Events */

.event {
	display: table;
	margin-top: 10px;
	background-color: #F8F9F9;
	border-bottom: 3px solid #E8E8E7;
}

.event .event-row {
	display: table-row;
}

.event .date-box {
	display: table-cell;
  float: none;
  vertical-align: middle;
  color: #7FBD41;
  text-align: center;
}

.event .date {
	font-size: 30px;
	font-weight: 700;
}

.event .day {
	margin-top: 20px;
	font-size: 20px;
	font-weight: 700;
}

.event .info {
	padding: 10px;
}

.event .name {
	font-size: 25px;
	font-weight: 700;
	color: #7FBD41;
}

.event .venue {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 700;
	color: #545555;
}

.event .address {
	color: #AEAFAF;
}

.event .description {
	font-weight: 300;
	margin-top: 20px;
}

.event .stats {
	color: #AEAFAF;
	float: left;
	margin-right: 20px;
}

/* Footer */

.footer {
	padding: 50px;
	color: #AEAFAF;
	background-color: #FFF;
	text-align: center;
}

.footer a {
	color: #AEAFAF;
}

.footer .copyright {
	margin: 20px;
}

.footer #nav-footer {
	height: 30px;
	display: block;
	margin: 0 auto;
}

.footer-icon {
	font-size: 20px;
	padding: 0 5px;
}

.img-icon {
	height: 19px;
	display: inline-block;
}

.img-icon .icon {
	height: 24px;
	padding: 0 5px 5px 5px;
}

/* Media Queries */

@media (max-width: 1017px) {
	.hero {
		padding: 50px;
	}

	.meetup {
		padding: 50px;
	}
}

@media (max-width: 555px) {

	.hero h1 {
		font-size: 30px;
	}

	.meetup h2 {
		font-size: 20px;
	}
}
