<!DOCTYPE html>
<html lang="en">
	{{> head}}
	<body>
		{{> navBar}}

		{{> loginModal}}

		{{{ body }}}
		
		{{# if authenticated}}
		Welcome {{ user.displayName }}
		{{/if}}

		{{> footer}}

		{{> scripts}}
	</body>
</html>
