<!DOCTYPE html>
<html lang="en">
	{{> head}}
	<body>
		{{> navBar}}

		{{> loginModal}}

		{{{ body }}}

		{{# if authenticated}}
		Welcome {{ user.displayName }}
		{{/if}}
		{{#each message}}
		<div class="flash">
			{{this}}
		</div>
		{{/each}}

		{{> footer}}

		{{> scripts}}
	</body>
</html>
